@import "@unocss/reset/tailwind.css" layer(tailwind-reset);
/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import "primereact/resources/themes/lara-light-indigo/theme.css"
  layer(primereact);

@import "@fontsource-variable/red-hat-display";

:root{
  --border-radius: 0.9rem;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}
* {
  font-family: "Red Hat Display Variable", sans-serif;
}

body {
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  background-color: #f9f9fa;
}
